.ellements-contacts__label{
    margin-top: 40px;
      color:#d22856;
    font-size: 14px;
    text-transform: uppercase;
      margin-left: 23px;
    
}
.ellements-contacts__input{
      display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    height: 60px;
    width: 280px;
}
