.form-review{
    background-color: #ffffff;
    height: 170px;
     background-image: url(../img/back-mobile.jpg);
}

.form-review p{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 24px;
   text-align: center;
    padding-top: 50px;
   
}
.form-review2{
    height: 170px;
}
.form-review2 p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
    
}